Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/HoloLens/Microsoft.VCLibs.arm64.14.00.appx
Build/HoloLens/Microsoft.VCLibs.x64.14.00.appx
Build/HoloLens/FileOpenOrder/CookerOpenOrder.log
Build/HoloLens/FileOpenOrder/EditorOpenOrder.log
Build/HoloLens/SRHMR.appxbundle
Build/HoloLens/SRHMR.cer
